.card-container{
    text-align: center;
    display: flex;
    justify-content: center;
}
.Infodiv{
    margin-top: 40px;
}
.city{
    font-weight: bold;
    color: rgb(0, 0, 0);
}
.weatherinfo{
    color: rgb(96, 96, 96);
    font-weight: 400;
}